name: CI Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Wrangler
        run: npm install -g wrangler
      - name: Deploy to Cloudflare Pages
        run: wrangler pages deploy public --project-name="bkuk"
        env:
          CLOUDFLARE_API_TOKEN: OhFeNt4M-Oy9-2c64ZjA_66-QTqzUgB1c8PxdUQY
          CLOUDFLARE_ACCOUNT_ID: 1fce1c702e3745b88a353360cfd485be
